

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Template/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Template/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Template/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Template/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Template/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Template/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @*<link href="~/Template/dist/css/ionicons.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">*@
    <link href="~/Template/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Template/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Template/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Template/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- jQuery UI -->

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    @*<script src="~/Template/dist/js/bootsrap.min.js"></script>
        <script src="~/Template/dist/js/jquery-3.5.1.min.js"></script>
        <link href="~/Template/dist/css/bootstrap.min.css" rel="stylesheet" />*@
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Template/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">

                <span class="brand-text font-weight-light mt-0 pb-0 mb-0 ml-5 d-flex">   Inventory</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">

                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Welcome, @ViewBag.username</a>
                    </div>
                </div>



                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        @if (ViewBag.Role == "admin")
                        {


                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Home")" class="nav-link">
                                    <i class="nav-icon fas fa-sign"></i>
                                    <p>
                                        DashBoard

                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Barang")" class="nav-link">
                                    <i class="nav-icon fas fa-sign"></i>
                                    <p>
                                        Data Barang

                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Supplier")" class="nav-link">
                                    <i class="nav-icon fas fa-sign"></i>
                                    <p>
                                        Data Suplier

                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Customer")" class="nav-link">
                                    <i class="nav-icon fas fa-sign"></i>
                                    <p>
                                        Data Customer

                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "BarangMasuk")" class="nav-link">
                                    <i class="nav-icon fas fa-sign"></i>
                                    <p>
                                        Barang Masuk

                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "BarangKeluar")" class="nav-link">
                                    <i class="nav-icon fas fa-sign"></i>
                                    <p>
                                        Barang Keluar

                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a href="@Url.Action("Logout", "Login")" class="nav-link">
                                    <i class="nav-icon fas fa-user"></i>
                                    <p>
                                        Log Out
                                        <span class="right badge badge-danger"></span>
                                    </p>
                                </a>
                            </li>
                        }
                        else
                        {

                        }


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewBag.Menu</h1>
                        </div><!-- /.col -->
                        <!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Template/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Template/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/Template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Template/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Template/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Template/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Template/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Template/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Template/plugins/moment/moment.min.js"></script>
    <script src="~/Template/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Template/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Template/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Template/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Template/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Template/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Template/dist/js/pages/dashboard.js"></script>
    <script src="~/Template/dist/js/pages/dashboard3.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/Template/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Template/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Template/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Template/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Template/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Template/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Template/plugins/jszip/jszip.min.js"></script>
    <script src="~/Template/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Template/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Template/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Template/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Template/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    
    

    

   
    <!-- Summernote CSS -->
    <!-- Summernote JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
    <!-- jQuery -->
    
    <!-- Bootstrap CSS -->
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
